@media screen and (max-width:700px) {
  /* .ui{
    position: relative;
    left: 500px;
  } */
}
.herosection
{
  background-image: url('./Assets/img/hero-bg.jpg');

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% ;
}

.sidebarn {
  margin: opx !important;
  width: 253px;
  height: 100%;
  background-color:black;
  color:black; 
  padding: 20px;
  position: fixed;
}

.list li
{
line-height:2.5rem ;
list-style: none;

}
.p-img
{
  margin: 15px auto;

  border: 8px solid #2c2f3f;
}
.Skills
{
  background-color: rgb(230, 240, 243);
  height: 380px;
}

.Title
{
  font-size: 2.30rem;
  color: rgb(29, 29, 101);
}
.circle{
  margin-left: 295px;
  height: 10px;
  width: 10px;
 border: 2px green solid;
  border-radius: 50%;

}
.crline{
  border-left: 2px green solid;
  margin-left: 300px;
  padding: 30px;
}